
@model IEnumerable<miniLibrary2017.Models.ShadowAuthor>
@{
    ViewBag.Title = "ShadowAuthor";
}
@if (User.Identity.Name == "admin")
{
<h2>Lista ShadowBook</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.ShadowId)</th>
                <th>@Html.DisplayNameFor(x => x.LastName)</th>
                <th>@Html.DisplayNameFor(x => x.FirstName)</th>
                <th>@Html.DisplayNameFor(x => x.ShadowTimestamp)</th>
                <th>@Html.DisplayNameFor(x => x.ShadowOption)</th>
                <th >Akcja</th>


            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td >@item.ShadowId</td>
                        <td >@item.LastName</td>
                        <td >@item.FirstName</td>
                        <td >@item.ShadowTimestamp.ToString("dd/MM/yyyy")</td>
                        <td >@item.ShadowOption</td>
                        <td>@Html.ActionLink("Przywróć", "ReturnShadowAuthor", new { shadowId = item.Id })
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
                }
                else
                {
                    <h3>Nie masz uprawnień administracyjnych</h3>
                }
