
@model IEnumerable<miniLibrary2017.Models.ShadowBook>
@{
    ViewBag.Title = "ShadowBook";
}
 @if (User.Identity.Name == "admin")
 {
<h2>Lista ShadowBook</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.ShadowId)</th>
                <th>@Html.DisplayNameFor(x => x.Title)</th>
                <th>@Html.DisplayNameFor(x => x.IdAuthor)</th>
                <th>@Html.DisplayNameFor(x => x.YearOfPublish)</th>
                <th>@Html.DisplayNameFor(x => x.ISBN)</th>
                <th>@Html.DisplayNameFor(x => x.ShadowTimestamp)</th>
                <th>@Html.DisplayNameFor(x => x.ShadowOption)</th>
                <th>Akcja</th>
            

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ShadowId</td>
                        <td>@item.Title</td>
                        <td>@item.IdAuthor</td>
                        <td>@item.YearOfPublish.ToString("dd/MM/yyyy")</td>
                        <td>@item.ISBN</td>
                        <td>@item.ShadowTimestamp.ToString("dd/MM/yyyy")</td>
                        <td>@item.ShadowOption</td>
                        <td>@Html.ActionLink("Przywróć", "ReturnShadowBook", new { shadowId = item.Id })
</tr>
                }
            }
        </tbody>
    </table>

</div>
                }
                else
                {
                    <h3>Nie masz uprawnień administracyjnych</h3>
                }