
@model IEnumerable<miniLibrary2017.Models.ShadowBook>
@{
    ViewBag.Title = "ShadowBook";
}

<h2>Lista ShadowBook</h2>

<div>
    <table class="table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">@Html.DisplayNameFor(x => x.ShadowId)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.Title)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.IdAuthor)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.YearOfPublish)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.ISBN)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.ShadowTimestamp)</th>
                <th class="text-center">@Html.DisplayNameFor(x => x.ShadowOption)</th>
                <th class="text-center">Akcja</th>
            

            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@item.ShadowId</td>
                        <td class="text-center">@item.Title</td>
                        <td class="text-center">@item.IdAuthor</td>
                        <td class="text-center">@item.YearOfPublish.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">@item.ISBN</td>
                        <td class="text-center">@item.ShadowTimestamp.ToString("dd/MM/yyyy")</td>
                        <td class="text-center">@item.ShadowOption</td>
                        <td>@Html.ActionLink("Przywróć", "ReturnShadowBook", new { shadowId = item.Id })
</tr>
                }
            }
        </tbody>
    </table>

</div>
